<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334372623564-6dgdtnsgcj00spatm9e6jk5cfqt9ogub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334372623564-6dgdtnsgcj00spatm9e6jk5cfqt9ogub</string>
	<key>API_KEY</key>
	<string>AIzaSyAh10FiSRAAmD5KxrZHFMaxO7MGqHTp2ys</string>
	<key>GCM_SENDER_ID</key>
	<string>334372623564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nopstation.nopcartFlutter</string>
	<key>PROJECT_ID</key>
	<string>nopstation-2899f</string>
	<key>STORAGE_BUCKET</key>
	<string>nopstation-2899f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334372623564:ios:2f9b158055c3403ea05e69</string>
	<key>DATABASE_URL</key>
	<string>https://nopstation-2899f.firebaseio.com</string>
</dict>
</plist>